@import "../node_modules/katex/dist/katex.css";

.cdx-katex {
    max-width: 100%;
}

.cdx-katex--error {
    color: red;
    background-color: cornsilk;
}

.cdx-katex__canvas {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.cdx-katex__input {
    font-size: 14px;
    width: 100%;
    height: auto;
}
